<div class="admin-sidebar">
    <div class="logo">
        <img src="assets/img/angular.jpeg" />
    </div>
    <div class="links mt-3">
        <ul>
            <li>
                <a routerLink="dashboard" class="btn btn-success">
                    <i class="pi pi-chart-line"></i> Dashboard
                </a>
            </li>
            <li>
                <a routerLink="product" class="btn btn-success mt-2">
                    <i class="pi pi-wallet"></i> Product
                </a>
            </li>
            <li>
                <a routerLink="category" class="btn btn-success mt-2">
                    <i class="pi pi-send"></i> Category
                </a>
            </li>
            <li>
                <a routerLink="order" class="btn btn-success mt-2">
                    <i class="pi pi-paperclip"></i> Order
                </a>
            </li>
            <li>
                <a routerLink="user" class="btn btn-success mt-2">
                    <i class="pi pi-search"></i> User
                </a>
            </li>

            <li class="logout">
                <a routerLink="user" class="logout btn btn-danger mt-3">
                    <i class="pi pi-sign-out"></i> Logout
                </a>
            </li>
        </ul>
    </div>
</div>